<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36530528836-8g5nfi1o969hdon8ad5urkcb935cgfea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36530528836-8g5nfi1o969hdon8ad5urkcb935cgfea</string>
	<key>API_KEY</key>
	<string>AIzaSyCveW09WpayBiI4urtA1LDOZAEPEJe9UIs</string>
	<key>GCM_SENDER_ID</key>
	<string>36530528836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.travsim.FCMAppTut</string>
	<key>PROJECT_ID</key>
	<string>fcmapptut-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>fcmapptut-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36530528836:ios:aa64c46e10a03c4c6fd211</string>
</dict>
</plist>